    .dark{
    background-color:blue;    
    }
    
    .whi{
        color: white;
    }

    .lk:hover{
        color: black;
    }
    .lk{
        color: white;
    }
    
    .whi:hover{
        color: white;
    }
    
    .white{
        color:white;
    }

    a.hideDisplay:hover{
        z-index: 30;
    }

    a.hideDisplay span.showDisplayOnHover{
        display: none;
    }

    a.hideDisplay:hover span.showDisplayOnHover{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;

    }

    a.d:hover{
        z-index: 30;
    }

    a.d span.s{
        display: none;
    }

    a.d:hover span.s{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;

    }

    a.b:hover{
        z-index: 30;
    }

    a.b span.c{
        display: none;
    }

    a.b:hover span.c{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;

    }

    a.x:hover{
        z-index: 30;
    }

    a.x span.y{
        display: none;
    }

    a.x:hover span.y{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;

    }

    a.w:hover{
        z-index: 30;
    }

    a.w span.z{
        display: none;
    }

    a.w:hover span.z{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }


    a.p:hover{
        z-index: 30;
    }

    a.p span.q{
        display: none;
    }

    a.p:hover span.q{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

    a.r:hover{
        z-index: 30;
    }

    a.r span.s{
        display: none;
    }

    a.r:hover span.s{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

    a.m:hover{
        z-index: 30;
    }

    a.m span.n{
        display: none;
    }

    a.m:hover span.n{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

    a.mob:hover{
        z-index: 30;
    }

    a.mob span.st{
        display: none;
    }

    a.mob:hover span.st{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

    a.queue:hover{
        z-index: 30;
    }

    a.queue span.stack{
        display: none;
    }

    a.queue:hover span.stack{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

    a.ab:hover{
        z-index: 30;
    }

    a.ab span.cd{
        display: none;
    }

    a.ab:hover span.cd{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

    a.ef:hover{
        z-index: 30;
    }

    a.ef span.gh{
        display: none;
    }

    a.ef:hover span.gh{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

    a.ij:hover{
        z-index: 30;
    }

    a.ij span.kl{
        display: none;
    }

    a.ij:hover span.kl{
        
        display: block;
        position: absolute;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid #666666;
        background-color: lightblue;
        text-align: left;
        color: black;
        width: auto;
        font-weight: normal;
        padding: 5px;
    }

   

    
